.dates
  .fromDate
    input.datePicker.fromDatePicker.btn.btn-primary(type="button", onchange=$helpers.fromDateChange)
  .toDate
    input.datePicker.toDatePicker.btn.btn-primary(type="button", onchange=$helpers.toDateChange)