.middleBanner
  .by BY
  .propSelector.styled-select
    select#propOptions(onchange=$helpers.propChange)  
      option(selected="selected", value="Undefined") Properties
      option(value="os") Operating System
      option(value="prop1") First Property
      option(value="prop2") Second Property
      option(value="prop3") Third Property